@use '../../_variables';

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: variables.$color-header-bg;
  color: variables.$color-header-text;
}

.inner {
  display: flex;
  align-items: center;
  max-width: variables.$max-width;
  margin: 0 auto;
  padding: 0 24px;
  height: 56px;
}

.logo {
  font-size: variables.$font-size-lg;
  font-weight: 900;
  white-space: nowrap;
}
