@use '../../_variables';

.sidebar {
  width: 160px;
  flex-shrink: 0;
  padding: 32px 0 40px;
  position: sticky;
  top: 56px;
  align-self: flex-start;
}

.title {
  font-size: variables.$font-size-xl;
  font-weight: 900;
  color: variables.$color-text-primary;
  margin-bottom: 24px;
}

.categoryList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categoryItem {
  font-size: variables.$font-size-sm;
  color: variables.$color-text-muted;
  cursor: pointer;
  user-select: none;

  &.active {
    font-weight: 700;
    color: variables.$color-text-primary;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}
