$searchInputMaxWidth: 600px;
$searchInputHeight: 44px;
$searchInputFontSize: 16px;

.searchInput {
  max-width: $searchInputMaxWidth;

  /* stylelint-disable-next-line selector-class-pattern -- Radix 내부 클래스 override */
  :global(.rt-TextFieldRoot) {
    height: $searchInputHeight;
    font-size: $searchInputFontSize;
  }
}
