.container {
  height: 100%;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  margin: 32px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 64px);
  max-width: 600px;
  width: calc(100% - 64px);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2),
              0px 24px 38px 3px rgba(0,0,0,0.14),
              0px 9px 46px 8px rgba(0,0,0,0.12);
}
