/* stylelint-disable scale-unlimited/declaration-strict-value */
.container {
  height: 100%;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  margin: 32px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 64px);
  max-width: 600px;
  width: calc(100% - 64px);
  background-color: #fff;
  border-radius: 4px;
  box-shadow:
    0 11px 15px -7px rgb(0 0 0 / 20%),
    0 24px 38px 3px rgb(0 0 0 / 14%),
    0 9px 46px 8px rgb(0 0 0 / 12%);
}
