@use '@/styles/typography.module' as typography;

$dialogMaxWidth: 600px;
$paperShadow: (0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%));

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--color-overlay-backdrop);
  -webkit-tap-highlight-color: transparent;
}

.paper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - 64px);
  max-width: $dialogMaxWidth;
  width: calc(100% - 64px);
}

.paper.styled {
  background-color: var(--color-bg-primary);
  border-radius: var(--radius-xs);
  box-shadow: $paperShadow;
}

.content {
  padding: var(--spacing-lg);
}

.header {
  margin-bottom: var(--spacing-md);

  h2 {
    margin: 0 0 var(--spacing-lg);
  }

  p {
    margin: 0;
  }
}

:where(.header.styled) {
  h2 {
    @include typography.h3;

    color: var(--color-fg-primary);
  }

  p {
    color: var(--color-fg-muted);
    font-size: var(--font-size-md);
  }
}

.criticalTitle {
  color: var(--color-fg-destructive);
}

.description {
  margin-bottom: var(--spacing-md);
}

.description.styled {
  @include typography.body2;

  color: var(--color-fg-secondary);
}

.body {
  margin-bottom: var(--spacing-lg);
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-sm);
}
