.drawer {
  background-color: white;
  box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.2),
              0px 16px 24px 2px rgba(0,0,0,0.14),
              0px 6px 30px 5px rgba(0,0,0,0.12);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: fixed;

  &.left {
    top: 0;
    bottom: 0;
    left: 0;
    width: 280px;
    max-width: 80%;
  }

  &.right {
    top: 0;
    bottom: 0;
    right: 0;
    width: 280px;
    max-width: 80%;
  }

  &.top {
    left: 0;
    right: 0;
    top: 0;
    height: 200px;
    max-height: 80%;
  }

  &.bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    max-height: 80%;
  }
}
