@use '@/styles/typography.module' as typography;

$drawerLateralSize: 280px;
$drawerLongitudinalSize: 200px;
$drawerMaxLateral: 80%;
$drawerMaxLongitudinal: 80%;
$rootShadow: (0 8px 10px -5px rgb(0 0 0 / 20%), 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%));

.root {
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &.left {
    top: 0;
    bottom: 0;
    left: 0;
    width: $drawerLateralSize;
    max-width: $drawerMaxLateral;
  }

  &.right {
    top: 0;
    bottom: 0;
    right: 0;
    width: $drawerLateralSize;
    max-width: $drawerMaxLateral;
  }

  &.top {
    left: 0;
    right: 0;
    top: 0;
    height: $drawerLongitudinalSize;
    max-height: $drawerMaxLongitudinal;
  }

  &.bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: $drawerLongitudinalSize;
    max-height: $drawerMaxLongitudinal;
  }
}

.root.styled {
  background-color: var(--color-bg-primary);
  box-shadow: $rootShadow;
}

.content {
  display: flex;
  flex-direction: column;
  width: $drawerLateralSize;
  height: 100%;
}

.header {
  padding: var(--spacing-md);

  h2 {
    margin: 0;
  }
}

.header.styled {
  border-bottom: 1px solid var(--color-fg-subtle);

  h2 {
    @include typography.h4;
  }
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: var(--spacing-md);
}

.menuItem {
  padding: var(--spacing-md);
  text-align: left;
}

.menuItem.styled {
  border: none;
  border-radius: var(--radius-xs);
  background-color: transparent;
  font-size: var(--font-size-md);
  color: var(--color-fg-secondary);
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-bg-tertiary);
  }
}
