.page {
  max-width: var(--max-width-wide);
  margin: 0 auto;
  padding: var(--spacing-xl);

  strong {
    font-weight: bold;
  }
}

.intro {
  margin-bottom: var(--spacing-xl);
}

.section {
  margin-bottom: var(--spacing-2xl);
}

.subBlock {
  margin-bottom: var(--spacing-xl);
}

.codeBlock {
  margin-top: var(--spacing-md);
}

.pageTitle {
  margin-bottom: var(--spacing-sm);
}

.description {
  color: var(--color-fg-secondary);
}

.sectionTitle {
  margin-bottom: var(--spacing-sm);
}

.subSectionTitle {
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-sm);
}

.descriptionWide {
  margin-bottom: var(--spacing-md);
  color: var(--color-fg-secondary);
}

.descriptionNarrow {
  margin-bottom: var(--spacing-grid-gap);
  color: var(--color-fg-secondary);
}

.descriptionSpaced {
  margin-top: var(--spacing-md);
  color: var(--color-fg-secondary);
}

.item {
  margin-bottom: var(--spacing-grid-gap);
}

.itemWide {
  margin-bottom: var(--spacing-md);
}
