@use '@monorepo-playground/design-system/styles/typography';

.header {
  position: sticky;
  top: 0;
  z-index: var(--z-pc-sticky-header);
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-grid-gap) var(--spacing-md);
  background: var(--color-bg-primary);
  border-bottom: 1px solid var(--color-fg-subtle);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  margin-left: auto;
}

.linkInner {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.logo {
  @include typography.h4;

  font-weight: bold;
  color: var(--color-fg-primary);
  text-decoration: none;
}

.docLink {
  @include typography.body2;

  text-decoration: none;
}
