.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-md);

  @media (width <= 768px) {
    grid-template-columns: 1fr;
  }
}

.description {
  color: var(--color-fg-secondary);
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.card {
  height: 100%;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: var(--shadow-hover);
  }
}
