@use '../_variables';

.container {
  padding: 24px 0 80px;
}

.virtualContainer {
  position: relative;
}

.virtualRow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: 0 16px;
  padding-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: 40px 16px;
}

.message {
  padding: 80px 0;
  text-align: center;
  font-size: variables.$font-size-sm;
  color: variables.$color-text-disabled;
}
