@use '../variables';
@use '@monorepo-playground/design-system/styles/typography';

.imageWrapper {
  aspect-ratio: 1 / 1;
  background-color: variables.$colorSurface;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info {
  padding: var(--spacing-grid-gap) 0 0;
}

.title {
  @include typography.body2;

  font-weight: 500;
  color: variables.$colorTextPrimary;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.meta {
  margin-top: variables.$space8;
  display: flex;
  align-items: baseline;
  gap: variables.$space8;
}

.author {
  font-size: variables.$fontSizeXs;
  font-weight: 700;
  color: variables.$colorTextPrimary;
}

.date {
  font-size: variables.$fontSizeXs;
  color: variables.$colorTextDisabled;
}
