$scrollContainerMaxHeight: 240px;

.scrollContainer {
  max-height: $scrollContainerMaxHeight;
  overflow-y: auto;
}

.form {
  /* stylelint-disable-next-line selector-class-pattern -- Radix 내부 클래스 override */
  :global(.rt-TextFieldRoot):has(input:read-only) {
    background-image: none;
  }
}
