@use 'sass:map';

$typography: (
  h1: (
    size: 36px,
    lineHeight: 50px,
  ),
  h2: (
    size: 28px,
    lineHeight: 40px,
  ),
  h3: (
    size: 20px,
    lineHeight: 32px,
  ),
  h4: (
    size: 18px,
    lineHeight: 24px,
  ),
  body1: (
    size: 16px,
    lineHeight: 24px,
  ),
  body2: (
    size: 14px,
    lineHeight: 20px,
  ),
  body3: (
    size: 12px,
    lineHeight: 16px,
  ),
);

@mixin _apply($key) {
  $t: map.get($typography, $key);
  $size: map.get($t, size);
  $lineHeight: map.get($t, lineHeight);

  font-size: $size;
  line-height: $lineHeight;

  &.bold {
    font-weight: bold;
  }
}

@mixin h1 {
  @include _apply(h1);
}

@mixin h2 {
  @include _apply(h2);
}

@mixin h3 {
  @include _apply(h3);
}

@mixin h4 {
  @include _apply(h4);
}

@mixin body1 {
  @include _apply(body1);
}

@mixin body2 {
  @include _apply(body2);
}

@mixin body3 {
  @include _apply(body3);
}

@each $key in map.keys($typography) {
  .#{$key} {
    @include _apply($key);
  }
}
